.footer {
    width: 100vw;
    height: 7vh;
    background-color: var(--main-color);
    align-content: center;
    text-align: center;
}

.footer__title{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding: 10px 20px;
}