.navbar {
    width: 100vw;
    height: 7vh;
    background-color: var(--main-color);
}
.navbar__container {
    height: 100%;
    padding: 0 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
}